.venv
.ipynb_checkpoints
chroma_langchain_db
.DS_store
.idea
.ipynb_checkpoints
CornLeafDiseaseImages
CottonLeafDiseaseImages
SoybeanLeafDiseaseImages
test_images
.env
__pycache__/AgentTools.cpython-312.pyc
__pycache__/PrecisionFarming.cpython-312.pyc
__pycache__/RetrievalGraph.cpython-312.pyc
